*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 12px;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: inherit;
    color: #FFF;
}

.container h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.scores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    max-width: 1024px;
    height: 200px;
}

.scores > span{
    font-size: 5rem;
    font-weight: 700;
    padding: 10px;
}

.card-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: inherit;
    font-weight: bold;
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #431964;
}

.card-title{
    font-size: 2rem;
}

.result{
    font-size: 5rem; 
}

.btn-winner{
    background-color: #FFF;
    border: none;
    width: 100%;
    height: inherit;
    cursor: pointer;
    color: #431964;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: .3s;
} 

.btn-winner:hover{
    background-color: #522376;
    color: #FFF;
}

.container a{
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #FFF;
    border-radius: 5px;
    transition: .5s;
}

.btn{
    font-weight: bold;
    font-size: 2rem;
}



/* -------------- RESPONSIVIDADE --------------*/

@media (min-width: 280px) and (max-width: 400px){

    .container h1{
        font-size: 2rem;
    }

    .scores > span{
        font-size: 2rem;
    }

    .card-title{
        padding: 10px;
        font-size: 1rem;
        text-align: center;
    }
       
    .btn{
        font-size: 0.9rem;
    }

}

@media (min-width: 401px) and (max-width: 700px){
    
    .container h1{
        font-size: 2rem;
    }

    .scores > span{
        font-size: 2rem;
    }

    .card-player{
        width: auto;
    }

    .card-title{
        padding: 10px;
        font-size: 1.4rem;
        text-align: center;
    }
    
    .btn{
        font-size: 1.3rem;
        text-align: center;
    }

} 